api/node_modules
api/.env
app/node_modules
app/uploads
app/.env
app/.env.bak
api/.env.bak
api/uploads
.env
pgdata
api/.env.production
db
.env.production
.vercel
conception/
bak/
node_modules/
.env.bak