
$base-color: #2563EB; 

$button-bg-color: #364153;
$button-bg-color-hover: #1F2937; 

$button-bg-color-primary: #2563EB;
$button-bg-color-primary-hover: #1D4ED8;

$button-bg-color-danger: #DC2626;
$button-bg-color-danger-hover: #B91C1C; 

$background-color-dark: #030712;
$background-color-light: #FFFFFF;
$background-color-logo-colorized: #F8FAFC; 

$text-color: #111827; 


$dark-mode-text-color: #F8FAFC; 
$dark-mode-background-color: #0F172A;
$dark-mode-header-color: #111827;
$dark-mode-item-date-color: #6B7280;
$dark-mode-image-wrapper-color: #6B7280;
$dark-mode-button-bg-color: #1F2937;
$dark-mode-button-bg-color-hover: #364153;
