@use "./mixins";
@use "./vars";

body.dark-mode {
  .create-item {
    background-color: vars.$dark-mode-background-color;
    &__item-title {
      color: vars.$dark-mode-text-color;
    }
    h3 {
      color: vars.$dark-mode-text-color;
    }
    &__form__button--disabled {
      color: vars.$dark-mode-text-color;
    }
  }
  label {
    color: vars.$dark-mode-text-color;
    font-weight: bold;
  }
  .create-collection__element-input {
    color: vars.$dark-mode-text-color;
  }

  select {
    color: vars.$dark-mode-text-color;
  }
}
.create-item {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  //min-height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  //margin: 3rem auto;
  &__submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    & > button {
      color: white;
    }
  }
  &__container {
    width: 100%;
    display: flex;
    margin-top: 3rem;
    flex-direction: column;

    align-items: center;
  }
  &__cover__upload {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__item {
      position: relative;
      object-fit: contain;
      width: 110px;
      height: 110px;
      border-radius: 5px;
      flex-shrink: 0;
      border: solid 0.5px black;
      overflow: hidden;
    }
    &__delete {
      position: absolute;
      bottom: 5px;
      right: 5px;
      border-radius: 50%;
      border: none;
      &:hover{
        cursor: pointer;
      }
    }
    &__label {
      margin: 0.5rem;
    }
    &__container {
      width: 90%;
      margin: auto;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      gap: 1rem;
    }

    &__item-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__form {
    width: 90%;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;

    &__button {
      width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        padding: 8px 16px;
        border: 1px solid #d1d5db;
        border-radius: 8px;
        background: white;
        color: #374151;
        cursor: pointer;
        transition: all 0.2s ease;
        margin: 0.2rem;
        &:hover {
          border: 1px solid #a2a4a7;
          background: rgb(222, 221, 221);
        }

      &:hover {
        @include mixins.button;
        background-color: #252e3b;
        transition: background-color 0.1s ease-in-out;

        cursor: pointer;
      }
      &--disabled {
        @include mixins.button;

        width: 200px;
        height: 30px;
        cursor: not-allowed;
      }
    }
  }
  &__datas {
    display: flex;
    justify-content: space-between;
    width: 100%;
    & > label {
      width: 130px;
    }
    & > input,
    select {
      width: 200px;
    }
  }
  &__price {
    width: 3rem;
  }

  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__disclaimer {    
    width: 90%;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
}

input {
  height: 31px !important;
  border-radius: 5px;
}

select {
  text-align: center;
  border-radius: 5px;
  background-color: transparent;
}
.create-collection__element-input {
  border: none !important;
}
@media screen and (min-width: 576px) {
  .create-item {
    &__container {
      width: 90%;
      justify-content: center;
      align-items: center;
      margin: auto;
      display: flex;
      &__cover__upload {
        &__button {
          text-overflow: ellipsis;
        }
        &__container {
          width: 250px;
          height: 100%;
          & > img {
            width: 250px;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
    &__form {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
    &__datas {
      width: 80%;
      display: flex;
      margin: 0.5rem auto;
      align-items: center;

      & > label {
        width: 300px;
        margin-right: 2rem;
      }
    }
    &__disclaimer {
      position: absolute;
      bottom: 1rem;
      width: 90%;
      display: flex;
      justify-content: center;
      font-weight: bold;
    }
  }
}
