@import 'vars';   
@import 'mixins';

.create-collection {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100vw;
    min-height: calc(100vh - 4rem);
    display: flex;
    &__container {
        width: 95%;
        margin: auto;
        @include button  // width: 80% ;
        // margin: auto;
        // background-color: yellow;
        // display: flex;
        // border-radius: 25px;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
    }
    &__title{
        padding-top: 5rem;
    }
    &__submit{
        @include button-other
        ;
        width: 200px;

    }
}