@use 'vars';   
@import 'mixins';

.create-collection {
    position: absolute;
    top: 4rem;
    width: 100%;   
    min-height: calc(100vh - 4rem);
    display: flex;
    &__container {
        width: 95%;
        margin: auto;
        background-color: rgb(221 221 221);
        @include button 
    }
    &__title{
        text-align: center
    }
    &__submit{
        @include button-other
        ;
        width: 200px;

    }
}

.img-div{
    width: 95%;
    height: auto;
    margin: 1rem auto;
    >img{
      width: 100%;
      height: auto;
      margin: auto;
    }
  }

form {
    &>div {
        margin: .2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &>input, select {
            margin-left: .5rem;
        }
    }
}
#images {   
    width: 100%;   
    column-rule: green;
    font-weight: bold   
}

