@use "./mixins";
@use "./vars";

.item {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 100%;
  &__barcode {
    margin-top: 1rem;
    width: 150px;
  }
  &__article {
    position: relative;
    display: flex;
    flex-direction: column;   
    height: 100%;
    
    width: 100%;
    margin: auto;
    padding-top: 2rem;
    align-items: center;
    }
  &__cover {
    margin-top: 2rem;
    width: 80%;
    height: 210px;
    padding-bottom: 2rem;
    border-bottom: solid 1px grey;

    & > img {
      width: 100%;
      height: 210px;
    }
  }
  &__infos {
    position: relative;
    width: 100%;
    padding-top: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__modify {
    position: absolute;
    top: 1rem;
    right: 3rem;
    border: 1px solid grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    & > svg {
      width: 15px;
      height: 15px;
    }
  }

  &__delete {
    @include mixins.button-danger;
    position: absolute;
    bottom: 6rem;
    
    &:hover {
      background-color: vars.$button-bg-color-danger-hover;
      border: 1px red solid;
      box-sizing: border-box;
      width: 200px;
      height: 35px;
    }
  }
}
