@use "./mixins";  

.modale {
  position: absolute;
  top: -2rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 21;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  &__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    &:hover {
      cursor: pointer;
    }
    & > img {
      width: 50px;
      height: 50px;
    }
  }
  &__list {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    width: 100px;
    height: 120px;
    margin: 1rem;
  }
  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__cover {
    width: 100px;
    height: auto;
    object-fit: cover;

    & > img {
      width: 120px;
      height: auto;
    }
  }
  &__data {
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
    font-weight: bold;
  }
  &__add {
    position: absolute;
    bottom: 1rem;
    @include mixins.button-other;
    width: 200px;
    &:hover {
      @include mixins.button-other-hover;
    }
  }
}
