@use "./vars";

body.dark-mode {
  .profile {
    background-color: vars.$dark-mode-background-color;
    &__email,
    &__username,
    &__collections,
    &__role {
      color: vars.$dark-mode-text-color;
    }
  }
  label {
    color: vars.$dark-mode-text-color;
  }
}

.profile {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__datas {
    display: flex;
    flex-direction: column;
    & > div {
      margin: 2rem;
      font-size: 1.2rem;
    }
  }
  &__delete {
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    color: white;
    background-color: red;

    border-radius: 5px;
    padding: 0.2rem;
    &:hover{
      background-color: rgb(76, 6, 6);
      cursor: pointer;
     
    }
  }
}
