@use "./mixins";

.user-collection {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100vw;
  min-height: calc(100vh - 4rem);
  background-color: #f6f6f6;
  & > h1 {
    text-align: center;
  }
  & > button {
    @include mixins.button;

    &:hover {
      @include mixins.button-hover;
    }
  }

  &__item {
    display: flex;
    height: 120px;
    width: 95%;
    margin: 1rem auto;
    border-radius: 5px;
    transition: all 0.4s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: solid 0.1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    &:hover {
      cursor: pointer;
      box-shadow: none;
      border: solid 0.1px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
    }
    &-img {
      width: 120px;
      height: 100%;
      text-align: center;
      background-color: white;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      & > img {
        height: 100%;
      }
    }
    &-data {
      padding-left: 1rem;
    }
  }
  &__create {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 120px;
    width: 95%;
    margin: 1rem auto;
    border-radius: 5px;
    transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: solid 0.1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-decoration: none;
    &:hover {      
      box-shadow: none;
      border: solid 0.1px rgba(0, 0, 0, 0.1);
      background-color: rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
     
    }
  }
}
