@import '../styles/mixins.scss';

.user-collection {
  & > button {
    @include button;
   
    &:hover {
      @include button-hover;
    }
  }
  &__item {
    background-color: red;
    display: flex;
    height: 120px;
    width: 100%;
    margin: auto;
    &-img{       
        height: 100%;
        &>img{
            width: 
            auto;
            height: 100%;
        }
        
    }
    
  }
}
